.comment {
    margin-top: 2%
}
.books {
    margin-bottom: 3%;
}
.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book-img {
    width: 15rem; height: 15rem;
}
.side-box {
    border-left: rgba(0, 0, 0, 0.164) 2px solid
}
.side-img {
    width: 5rem; height: 5rem;
}
.margin-4 {
    margin-left: 4%;
}
.spacing-0 {
    padding: 0px;
    margin: 0px;
}