<div class="container" style="margin-top: 8%">
  <div class="row">
    <p style="font-size: 25px">{{ book.title }}</p>
  </div>
  <div class="container">
    <div class="row" style="margin: 2%">
      <div class="col-2 ">
          <div>
                <img class="card-img-top book-img" *ngIf="book.coverImage" src="{{book.coverImage}}" alt="Book cover image">
                <img class="card-img-top book-img" *ngIf="!book.coverImage"  src="../../../assets/default-img.jpg" alt="Book cover image">
          </div>
      </div>
      <div class="col-4 offset-2">
          <p class="spacing-0">By {{ book.author }}</p>
          <p class="spacing-0"><strong>ISBN </strong><span>{{ book.edition }}</span></p>

          <button type="submit" style="margin-top: 20%" class="btn btn-raised btn-warning" data-toggle="modal" data-target="#reserveModal">Reserve</button>
      </div>
      <div class="col-4 side-box">
          <h5>Popular Books</h5>
        <div class="row books" *ngFor="let book1 of popularBooks">
            <div class="col-5 offset-1">
                <img class="card-img-top img-fluid side-img" *ngIf="book1.coverImage" src="{{book1.coverImage}}" alt="Book cover image">
                <img class="card-img-top img-fluid side-img" *ngIf="!book1.coverImage" src="../../../assets/default-img.jpg" alt="Book cover image">
            </div>
            <div class="col-6">
                <p class="title spacing-0 margin-4"><strong>Title: </strong> {{ book1.title }}</p>
                <p class="spacing-0 margin-4" ><strong>By: </strong> {{ book1.author }}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 5%">
    <h4>Reviews</h4>
    <div class="row comment" *ngFor="let comment of comments ">
        <i class="material-icons" style="font-size: 40px;">account_circle</i>
        <div class="alert alert-secondary col-7" style="margin-left: 3%" role="alert">
            {{ comment.text }}
        </div>
    </div>
    <div class="row comment">
        <form class="col-8">
            <div class="form-group">
                <label for="comment" class="bmd-label-floating">Comment</label>
                <input type="text" class="form-control" id="comment" placeholder="Write a review">
            </div>
            <button type="submit" class="btn btn-raised btn-warning float-right">Comment</button>
        </form>
    </div>
</div>

<!-- Modal to reserve a book -->
<div class="modal fade" id="reserveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request for book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="check-out" class="bmd-label-floating">Check-out</label>
                <input type="date" class="form-control" id="check-out" placeholder="Check-out date">
            </div>
            <div class="form-group">
                    <label for="check-in" class="bmd-label-floating">Check-in</label>
                    <input type="date" class="form-control" id="check-in" placeholder="Check-in date">
                </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning">Reserve</button>
      </div>
    </div>
  </div>
</div>