.align-right {
    float: right;
}
.card-title {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap
}
.card-body {
    padding: 5%
}
.card-img-top {
    width: 15rem;
    height: 15rem;
}
.card {
    width: 15rem;
    margin-left: 3%;
    margin-top: 2%
}
.grid-row {
    margin-top: 1%;
    margin-bottom: 3%
}
.author {
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap
}
strong {
    margin-left: 4%
}
.spacing-0 {
    padding: 0px;
    margin: 0px;
}
font-20 {
    font-size: 20px
}