<div class="container">
  <div class="row pwd-container">
    <div class="card col-sm-7" >
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">UPDATE PASSWORD</h5>
        <form (ngSubmit)="updatePassword()" #resetPwdloginForm="ngForm">
          <div *ngIf="error.status" class="alert alert-danger center" role="alert">
            {{ error.message }}
          </div>
          <div class="form-group row">
            <label for="prev-password" class="bmd-label-floating">Previous Password</label>
            <input type="password" [(ngModel)]="prevPassword" class="form-control" name="prev-password" required>
          </div>
          <div class="form-group row">
            <label for="password1" class="bmd-label-floating">New Password</label>
            <input type="password" [(ngModel)]="password1" class="form-control" name="password1" required>
          </div>
          <div class="form-group row">
              <label for="password2" class="bmd-label-floating">Re-enter Password</label>
              <input type="password" [(ngModel)]="credential.password" class="form-control" name="password2" required>
            </div>
          <div class="form-group row">
            <div class="col-sm-11">
              <button [disabled]="!resetPwdloginForm.form.valid" type="submit" class="btn btn-raised btn-warning align-right">UPDATE</button>
            </div>
          </div>
        </form>
        <app-snack-bar [snackbar]="snackbar"></app-snack-bar>
      </div>
    </div>
  </div>
</div>