<div class="container-fluid">
  <div class="row" style="margin-top: 3%;">
    <div class="offset-1"></div>
    <strong>Popular books</strong>
  </div>
  <div class="row"  style="margin-top: 2%; margin-bottom: 3%">
    <div class="offset-1"></div>
    <div class="card col-2" *ngFor="let book1 of popularBooks">
      <img class="card-img-top img-fluid" *ngIf="!book1.coverImage" src="../../../assets/default-img.jpg" alt="Card image cap">
      <img class="card-img-top img-fluid" *ngIf="book1.coverImage" src="{{book1.coverImage}}" alt="Book cover image">
      <div class="card-body">
        <p class="card-title spacing-0 font-20">{{ book1.title }}</p>
        <div class="card-text">
          <p class="spacing-0"><strong>Author: </strong> {{ book1.author }}</p>
        </div>
        <a (click)="custom_router(book1.id)" class="btn btn-raised btn-warning align-right">VIEW</a>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 5%;">
    <div class="offset-1"></div>
    <strong>New books</strong>
  </div>
  <div class="row grid-row">
    <div class="offset-1"></div>
    <div class="card col-2" *ngFor="let book of books">
      <img class="card-img-top img-fluid" *ngIf="!book.coverImage" src="../../../assets/default-img.jpg" alt="Card image cap">
      <img class="card-img-top img-fluid" *ngIf="book.coverImage" src="{{book.coverImage}}" alt="Book cover image">
      <div class="card-body">
        <p class="card-title" >{{ book.title }}</p>
        <div class="card-text">
            <p class="spacing-0 font-20"><strong>Author: </strong> {{ book.author }}</p>
        </div>
        <a (click)="custom_router(book.id)" class="btn btn-raised btn-warning align-right">VIEW</a>
      </div>
    </div>
  </div>
</div>
