<div class="container-fluid">
  <div class="row" style="margin-top: 10%">
    <div class="input-group col-sm-7 offset-sm-2">
      <input type="text" [(ngModel)]="searchText" (keyup)="applyFilter($event.target.value)" class="form-control" placeholder="Find a book by title">
      <div class="input-group-append">
        <button class="btn btn-raised btn-warning" (click)="findBook(searchText)" type="button">SEARCH</button>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row grid-row no-gutters" style="margin-top: 4%;">
      <div class="card col-2" *ngFor="let book of books">
        <img class="card-img-top img-fluid" *ngIf="!book.coverImage" src="../../../assets/default-img.jpg" alt="Book cover image">
        <img class="card-img-top img-fluid" *ngIf="book.coverImage" src="{{book.coverImage}}" alt="Book cover image">
        <div class="card-body">
          <p class="card-title" >{{ book.title }}</p>
          <div class="card-text">
              <p class="spacing-0 font-20"><strong>Author: </strong> {{ book.author }}</p>
          </div>
          <a style="margin: 0px;" (click)="custom_router(book.id)" class="btn btn-raised btn-warning align-right">VIEW</a>
        </div>
      </div>
    </div>
  </div>
</div>