.navbar {
    background-color: rgb(44, 22, 2);
    color: #FFF;
}
a, .auth-btn {
    color: #FFF;
}
.auth-btn {
    margin: 0.25%;
    margin-top: 0.5%;
    background: rgba(0, 0, 0, 0.3)
}
.dropdown-item {
    color:rgba(0, 0, 0, 0.7);
}